@using DTOLayer;
@model UserInfoDto

<div style="display:flex;align-items:center;">

    <img style="height:50px;width:50px;border-radius:50%" src="https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png" />

    <h6>@Model.Name @Model.Surname</h6>

</div>
