
@using DTOLayer;
@model AddProductDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "InsertProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<form method="post" style="width:70%;margin:auto;">
    <h1>Add Product</h1>
    <div class="mb-3">
        <label for="productNameInput" class="form-label">Product Name</label>
        <input asp-for=ProductName class="form-control" id="productNameInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="productTitleInput" class="form-label">Product Title</label>
        <input asp-for=ProductTitle class="form-control" id="productTitleInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
        <label for="productDescriptionInput" class="form-label">Product Description</label>
        <input asp-for=ProductDescription class="form-control" id="productDescriptionInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>


    <div class="mb-3">
        <label for="productPhotoInput" class="form-label">Product Photo Url</label>
        <input asp-for=ProductPhotoUrl class="form-control" id="productPhotoInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>




    @if (ViewBag.v != null)
    { <div class="mb-3">
        <p>Add Categories (You can select multiple categories)</p>
        @foreach (var c in ViewBag.v)
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"
                name="ProductCategoryIds" value=@c.Id id="@("category_" + c.Id)">
                <label class="form-check-label" for="@("category_" + c.Id)">
                    @c.CategoryName
                </label>
            </div>
        }
        </div>

    }




    <div class="mb-3">
        <label for="productDescriptionInput" class="form-label">Product Price $</label>
        <input type="number" asp-for=ProductPrice class="form-control" id="productDescriptionInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>