@using DTOLayer;
@model UserRegisterDto

<form method="post">
    <div class="mb-3">
        <label for="productTitleInput" class="form-label">Name</label>
        <input asp-for=Name class="form-control" id="productTitleInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="productTitleInput" class="form-label">Surname</label>
        <input asp-for=Surname class="form-control" id="productTitleInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="productNameInput" class="form-label">Username</label>
        <input asp-for=Username class="form-control" id="productNameInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="productNameInpu" class="form-label">City</label>
        <input asp-for=City class="form-control" id="productNameInpu" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="productNameInpu" class="form-label">District</label>
        <input asp-for=District class="form-control" id="productNameInpu" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="productNameInpu" class="form-label">ImageUrl</label>
        <input asp-for=ImageUrl class="form-control" id="productNameInpu" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="productTitleInput" class="form-label">Email</label>
        <input type="email" asp-for=Email class="form-control" id="productTitleInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
        <label for="productDescriptionInput" class="form-label">Password</label>
        <input type="password" asp-for=Password class="form-control" id="productDescriptionInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>


    <div class="mb-3">
        <label for="productDescriptionInput" class="form-label">ConfirmPassword</label>
        <input type="password" asp-for=ConfirmPassword class="form-control" id="productDescriptionInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>












 

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

